<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="project.BaseTest"/>
      <class name="project.AddToCartTest"/>
      <class name="project.LoginTest"/>
      <class name="project.ProductsPageTest"/>
      <class name="project.BoundaryTestPostCode"/>
      <class name="project.CheckoutTest"/>
        </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
